import json
import time
#reading file from json file
fd=open('inventory_data2.json','r')
js=fd.read()
fd.close()
data=json.loads(js)
print("10% Discount on buying product quantity above 50")
for key in data.keys():
    print(key,':',data[key]['Name'],' | ',data[key]['Price'],' | ',data[key]['Qn'])
user_name=input("Enter your name          :")
user_ph_no=input("Enter your phone number :")
user_email=input("Enter your email id     :")
prod_id=input("Enter Product Id           :")
prod_qn=int(input("Enter Quantity         :"))
sales=time.ctime()+user_name+','+user_ph_no+','+user_email+','+prod_id
#if we have enough quantity
if data[prod_id]['Qn']>=prod_qn:
    data[prod_id]['Qn']=data[prod_id]['Qn']-prod_qn
    print("-----------BILL-----------")
    print("Product_Name  : ",data[prod_id]["Name"])
    print("Product_Price : ",data[prod_id]["Price"])
    print("Product_Quant.: ",prod_qn)
    if prod_qn>50:
        print("10% Discount")
        prod_amount=(prod_qn*data[prod_id]["Price"])-((prod_qn*data[prod_id]["Price"])*0.1)
        print("Amount  : ",prod_amount)
        print("18%gst")
        prod_amount=prod_amount+prod_amount*0.18
        print("Total Amount  : ",prod_amount)
    else:    
        print("18%gst")
        prod_amount=(prod_qn*data[prod_id]["Price"])+(prod_qn*data[prod_id]["Price"])*0.18
        print("Total Amount  : ",prod_amount)
        
    sales=sales+','+data[prod_id]['Name']+','+str(prod_amount)+'\n'
    fd=open('sales_data.txt','a')
    fd.write(sales)
    fd.close()

else:
    print("Sorry, We're not having enough quantity")
    print("We're having only ",data[prod_id]["Qn"])
    ans=input("Enter Y to purchase")
    if(ans=='Y' or ans=='y'):
        print("-----------BILL-----------")
        print("Product_Name  : ",data[prod_id]["Name"])
        print("Product_Price : ",data[prod_id]["Price"])
        print("Product_Quant.: ",data[prod_id]["Qn"])
        if data[prod_id]["Qn"]>50:
            print("Amount  : ",data[prod_id]["Qn"]*data[prod_id]["Price"])
            print("10% discount ")
            prod_amount=(data[prod_id]["Qn"]*data[prod_id]["Price"])-(data[prod_id]["Qn"]*data[prod_id]["Price"])*0.1
            print("Amount  : ",prod_amount)
            prod_amount=(prod_amount)+(prod_amount)*0.18
            print("18%gst")
            print("Total Amount  : ",prod_amount)
        else:
            print("Amount  : ",data[prod_id]["Qn"]*data[prod_id]["Price"])
            print("18%gst")
            prod_amount=(data[prod_id]["Qn"]*data[prod_id]["Price"])+(data[prod_id]["Qn"]*data[prod_id]["Price"])*0.18
            print("Total Amount  : ",prod_amount)
        
        sales=sales+','+data[prod_id]['Name']+','+str(prod_amount)+'\n'
        data[prod_id]['Qn']=0
        fd=open('sales_data.txt','a')
        fd.write(sales)
        fd.close()
    else:
          print('Thanks')
js=json.dumps(data)
fd=open('inventory_data2.json','w')
fd.write(js)
fd.close()
